.patientlist {
  width: 40%;
  background-color: rgba(217, 231, 237, 0.3);
  height: 100vh;
  padding: 2rem;
  overflow-y: scroll;

  .patientlist-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .patientlist-list {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: 2rem;
    margin: 3rem 0;

    justify-content: space-between;
  }
}
