.button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 2.3rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.large {
  margin: 2rem 0;
  padding: 1rem 2.3rem;
  width: 80%;
  font-size: 1rem;
  background-color: #01a1c8;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.large:hover {
  background-color: #074c6f;
}

.delete-btn {
  font-size: 0.85rem;
  color: #fff;
  background-color: #1a80b3;
  border: none;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #074c6f;
}

.delete-red-btn {
  font-size: 0.85rem;
  color: #fff;
  background-color: #d11a2a;
  border: none;
  border-radius: 5px;
}

.delete-red-btn:hover {
  background-color: #ae0f1c;
}

.patient-btn {
  width: inherit;
  background-color: #99d9e9;
  color: #fff;
  border: none;
  border-radius: 0 !important;
  font-size: 0.85rem;
}

.patient-btn:hover {
  background-color: #01a1c8;
}

.empty {
  width: 200px;
  border: 1px solid $text-blue;
  background-color: transparent;
  color: $text-blue;
}

.empty:hover {
  background-color: $text-blue;
  color: #fff;
}

.full {
  width: 200px;
  border: none;
  background: $text-blue;
  color: #fff;
}

.full:hover {
  background-color: $text-dark;
  color: #fff;
}
