.patient-from-appointment {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
}

.patient-from-appointment-exam {
  height: 70%;
  width: 100%;

  overflow: scroll;
  position: relative;

  .delete {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: #1a80b3;
    cursor: pointer;
    transition: all 0.4s ease;
  }

  .delete:hover {
    color: #06567e;
  }
}
