.sidemenu {
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: $sidemenu-blue;
  z-index: 110;

  .sidemenu-content {
    padding: 0 2rem;
    margin-top: -2rem;

    h3 {
      font-size: 1.6rem;
      color: $text-dark;
      font-weight: 300;

      span {
        font-weight: 600;
      }
    }

    .intro {
      p {
        padding: 1rem 0;
        font-size: 1rem;
        color: $text-dark;
      }
    }

    .patient-form {
      padding: 2rem 0;

      h5 {
        font-size: 1.2rem;
        font-weight: 400;
        margin-bottom: 1rem;
        color: $text-blue;
      }

      input {
        border: none;
        border-bottom: 1px solid $text-blue;
        outline: none;
        margin: 0.5rem 0 0.5rem;
        padding: 0.5rem;
        font-size: 1rem;
        color: $text-dark;
        font-size: 1rem;
        background-color: unset;
        width: 100%;
      }

      input::placeholder {
        color: $text-blue;
      }
    }

    button {
      display: block;
      width: fit-content;
      font-size: 1rem;
      padding: 0.5rem 2.3rem;
      border: none;
      background-color: none;
      outline: none;
      border-radius: 5px;
      cursor: pointer;
      background-color: $text-dark;
      color: #fff;
      margin: 1rem 0;
      transition: background-color 0.5s ease;
    }

    button:hover {
      background-color: $text-dark-hover;
    }
  }
}
