@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap');

@mixin Small {
  @media (min-width: 1px) and (max-width: 1600px) {
    @content;
  }
}

$text-blue: #01a1c8;
$text-lightblue: #01a0c88a;
$sidemenu-blue: #d9e7ed;
$text-dark: #1b4476;
$text-dark-hover: #042042;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
}

body {
  // ima neke veze sa logoem inicijalnom animacijom
  // position: relative;

  display: grid;
  place-content: center;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

// pages
.login {
  height: 800px;
  width: 800px;
  position: relative;

  @include Small() {
    display: none;
  }
}

.viewport-msg {
  display: none;

  @include Small() {
    display: block;
    text-align: center;
    h1 {
      font-weight: 200;
      letter-spacing: -1px;
    }

    h6 {
      font-weight: 400;
      letter-spacing: -0.3px;
    }
  }
}

.home {
  min-width: 100%;
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  border: 2px solid $text-blue;
  border-radius: 10px;
  min-height: 820px;
  max-height: 820px;
  overflow: hidden;
  position: relative;

  @include Small() {
    display: none;
  }
}

// layouts
.patients {
  display: flex;
  width: 75%;
  height: 100%;
}

.appointments {
  background-color: rgba(217, 231, 237, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100vh;
  max-height: 850px;
}

.credits {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  font-size: 0.8rem;
  color: #1b4476;
  font-weight: 300;
  z-index: 1490;

  span {
    font-weight: 600;
    cursor: pointer;
  }
}

.space-div {
  height: 20px;
}

@import './../components/LoginForm/loginform';
@import './../components/LoginLogo/loginlogo';
@import './../components/Btn/btn';
@import './../components/Transition/transition';
@import './../components/Heading1/heading1';
@import './../components/Paragraph/paragraph';
@import './../components/Heading2/heading2';
@import './../components/Seach/search';
@import './../components/PatientCard/patientcard';
@import './../components/Heading3/heading3';
@import './../components/Heading6/heading6';
@import './../components/PatientInfo/patientinfo';
@import './../components/PatientExams/patientexams';
@import './../components/ExamsHeader/examsheader';
@import './../components/Overlay/overlay';
@import './../components/CloseIcon/closeicon';
@import './../components/BackIcon/backicon';
@import './../components/AddExisting/addexsiting';
@import './../components/SelectedPatient/selectedPatient';
@import './../components/Form/form';
@import './../components/PatientFromAppointmentInfo/patientfromappointmentinfo';
@import './../components/Exam/exam';

@import './../containers/Dashboard/dashboard';
@import './../containers/PatientList/patientlist';
@import './../containers/Patient/patient';
@import './../containers/LatestApp/latestapp';
@import './../containers/AllExams/allexams';
@import './../containers/PatientFromAppointment/patientfromappointment';
@import './../containers/StartAppointment/startappointment';

@import './../menus/LMenu/lmenu';
@import './../menus/RMenu/rmenu';
@import './../menus/ExamMenu/exammenu';
