@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  display: grid;
  place-content: center;
  height: 100vh;
  position: relative;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  cursor: default;
}

.login {
  height: 800px;
  width: 800px;
  position: relative;
}
@media (min-width: 1px) and (max-width: 1600px) {
  .login {
    display: none;
  }
}

.viewport-msg {
  display: none;
}
@media (min-width: 1px) and (max-width: 1600px) {
  .viewport-msg {
    display: block;
    text-align: center;
  }
  .viewport-msg h1 {
    font-weight: 200;
    letter-spacing: -1px;
  }
  .viewport-msg h6 {
    font-weight: 400;
    letter-spacing: -0.3px;
  }
}

.home {
  min-width: 100%;
  width: 100vw;
  max-width: 1800px;
  margin: 0 auto;
  display: flex;
  height: 100%;
  border: 2px solid #01a1c8;
  border-radius: 10px;
  min-height: 820px;
  max-height: 820px;
  overflow: hidden;
  position: relative;
}
@media (min-width: 1px) and (max-width: 1600px) {
  .home {
    display: none;
  }
}

.patients {
  display: flex;
  width: 75%;
  height: 100%;
}

.appointments {
  background-color: rgba(217, 231, 237, 0.3);
  padding: 2rem;
  display: flex;
  flex-direction: column;
  width: 75%;
  height: 100%;
  max-height: 850px;
}

.credits {
  position: fixed;
  bottom: 1rem;
  left: 2rem;
  font-size: 0.8rem;
  color: #1b4476;
  font-weight: 300;
  z-index: 1490;
}
.credits span {
  font-weight: 600;
  cursor: pointer;
}

.space-div {
  height: 20px;
}

.login-form {
  display: grid;
  place-content: center;
  height: inherit;
  width: inherit;
  z-index: 1000;
  color: #01a1c8;
  padding-top: 14rem;
}
.login-form h3 {
  font-size: 35px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.login-form input {
  border: none;
  border-bottom: 1px solid #01a1c8;
  outline: none;
  margin: 1rem 0 1rem;
  padding: 0.5rem;
  font-size: 1rem;
  color: #01a1c8;
  font-size: 1rem;
}
.login-form input::-moz-placeholder {
  color: rgba(1, 160, 200, 0.5411764706);
}
.login-form input::placeholder {
  color: rgba(1, 160, 200, 0.5411764706);
}
.login-form .err {
  display: flex;
  align-items: center;
}
.login-form .err span {
  padding-bottom: 1rem;
}
.login-form span {
  margin: 2rem 0 1rem;
}

.logo {
  position: absolute;
  z-index: -10;
}

.button {
  display: block;
  font-size: 1rem;
  padding: 0.5rem 2.3rem;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.4s ease;
}

.large {
  margin: 2rem 0;
  padding: 1rem 2.3rem;
  width: 80%;
  font-size: 1rem;
  background-color: #01a1c8;
  color: #fff;
  border: none;
  border-radius: 5px;
}

.large:hover {
  background-color: #074c6f;
}

.delete-btn {
  font-size: 0.85rem;
  color: #fff;
  background-color: #1a80b3;
  border: none;
  border-radius: 5px;
}

.delete-btn:hover {
  background-color: #074c6f;
}

.delete-red-btn {
  font-size: 0.85rem;
  color: #fff;
  background-color: #d11a2a;
  border: none;
  border-radius: 5px;
}

.delete-red-btn:hover {
  background-color: #ae0f1c;
}

.patient-btn {
  width: inherit;
  background-color: #99d9e9;
  color: #fff;
  border: none;
  border-radius: 0 !important;
  font-size: 0.85rem;
}

.patient-btn:hover {
  background-color: #01a1c8;
}

.empty {
  width: 200px;
  border: 1px solid #01a1c8;
  background-color: transparent;
  color: #01a1c8;
}

.empty:hover {
  background-color: #01a1c8;
  color: #fff;
}

.full {
  width: 200px;
  border: none;
  background: #01a1c8;
  color: #fff;
}

.full:hover {
  background-color: #1b4476;
  color: #fff;
}

.transition {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1000;
}

.heading1 {
  font-size: 2.5rem;
  color: #1a80b3;
  margin: 3rem 0 1rem;
  font-weight: 500;
  letter-spacing: -1px;
}

.paragraph {
  font-weight: 500;
  letter-spacing: -1px;
  color: #1a80b3;
  font-size: 1.2rem;
}

.heading2 {
  font-size: 2rem;
  letter-spacing: -1px;
  color: rgb(26, 128, 179);
  font-weight: 500;
}

.search {
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  width: 250px;
  font-weight: 400;
  letter-spacing: -0.5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search input {
  outline: none;
  background-color: transparent;
  border: none;
  width: 190px;
}
.search .dark {
  background-color: #7bcbde;
  color: #fff;
}
.search .dark::-moz-placeholder {
  color: rgb(246, 246, 246);
}
.search .dark::placeholder {
  color: rgb(246, 246, 246);
}
.search .light {
  background-color: #dcecf0;
  color: #01a1c8;
}
.search .light::-moz-placeholder {
  color: #01bdec;
}
.search .light::placeholder {
  color: #01bdec;
}

.dark {
  background-color: #7bcbde;
  color: #fff;
}

.dark::-moz-placeholder {
  color: rgb(246, 246, 246);
}

.dark::placeholder {
  color: rgb(246, 246, 246);
}

.light {
  background-color: #dcecf0;
  color: #01a1c8;
}

.light::-moz-placeholder {
  color: #01bdec;
}

.light::placeholder {
  color: #01bdec;
}

.patientcard {
  width: 200px;
  max-height: 230px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
}
.patientcard .profile-container {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 1rem auto 0rem;
  background-color: #fff;
}
.patientcard .profile-container .profile {
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
  width: 100%;
  height: 100%;
  background-color: #d9e7ed;
}
.patientcard .profile-container .circle {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
}
.patientcard .info {
  text-align: center;
}

.small-card {
  width: 160px;
}
.small-card .profile-container {
  width: 70px;
  height: 70px;
}

.heading3 {
  color: #1a80b3;
  font-weight: 300;
  letter-spacing: -1px;
  font-size: 1rem;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
}

.heading6 {
  font-size: 0.7rem;
  color: rgba(1, 161, 200, 0.75);
  font-weight: 300;
  letter-spacing: -0.2px;
  margin-bottom: 1rem;
}

.patientinfo {
  position: relative;
  background-color: rgb(1, 161, 200);
  width: 100%;
  padding: 1rem 0rem;
  height: 37%;
  z-index: 2000;
}
.patientinfo .patient-info-box {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.patientinfo .patient-info-box .left {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: #fff;
}
.patientinfo .patient-info-box .left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.patientinfo .patient-info-box .right {
  color: #fff;
}
.patientinfo .patient-info-box .right ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 1rem 0 2rem;
}
.patientinfo .patient-info-box .right ul li {
  list-style-type: none;
  margin: 0.5rem 0;
  font-weight: 400;
  letter-spacing: -0.25px;
  margin-right: 2rem;
}
.patientinfo .patient-info-box .right ul li span {
  font-weight: 200;
}

.placeholders-info {
  padding: 2rem;
  display: flex;
  align-items: center;
}
.placeholders-info .left {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
}
.placeholders-info .right div {
  height: 20px;
  width: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.placeholders-info .right ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 1rem 0 2rem;
}
.placeholders-info .right ul li {
  list-style-type: none;
  margin: 0.5rem 0;
  font-weight: 400;
  letter-spacing: -0.25px;
  margin-right: 2rem;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
  width: 200px;
  height: 20px;
}
.placeholders-info .right ul li span {
  font-weight: 200;
}
.placeholders-info .right .btn-placeholder {
  height: 20px;
  width: 150px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 20px;
}
.placeholders-info .animate {
  background-image: linear-gradient(90deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.6));
  background-size: 400% 400%;
  animation: animeGradients 3s infinite linear;
}
@keyframes animeGradients {
  0% {
    background-position: 0 85%;
  }
  50% {
    background-position: 100% 20%;
  }
  100% {
    background-position: 0 85%;
  }
}

.patientexams {
  padding: 2rem;
  height: 63%;
  background-color: #fff;
  width: 100%;
  z-index: 2000;
  position: relative;
}
.patientexams .patientexams-container {
  display: grid;
  grid-template-columns: repeat(3, auto);
  height: 100%;
  overflow: scroll;
  z-index: 2000;
}

.all-patient-exams {
  background-color: rgba(217, 231, 237, 0.2);
  height: 200px;
  margin-bottom: 2rem;
  width: 220px;
  z-index: 2000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.all-patient-exams .info-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  height: 110px;
  margin-top: 28px;
  color: #01a1c8;
}

.placeholders {
  width: 500px;
  margin-left: 4rem;
  margin-top: 4rem;
}
.placeholders img {
  width: 200px;
  height: 100px;
  margin-left: -2rem;
}
.placeholders .empty-div {
  height: 30px;
}

.examsheader {
  background-color: rgba(1, 161, 200, 0.1);
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.icon {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
}

.backicon {
  position: absolute;
  top: 2rem;
  left: 2rem;
  font-size: 1.2rem;
  cursor: pointer;
  color: #01a1c8;
}

.existingpatient-list {
  overflow: scroll;
  height: 500px;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: space-between;
  grid-gap: 1rem;
}

.selected-info {
  color: rgb(26, 128, 179);
}
.selected-info img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  -o-object-fit: cover;
     object-fit: cover;
  background-color: #d9e7ed;
  display: inline-block;
  margin: 2rem 0;
}
.selected-info h2 {
  font-size: 2.2rem;
  letter-spacing: -1px;
  font-weight: 500;
}
.selected-info p {
  margin: 0.5rem 0;
  font-weight: 300;
  font-size: 1.2rem;
}
.selected-info h4 {
  font-weight: 300;
  font-size: 1.2rem;
}
.selected-info h4 span {
  font-weight: 500;
}

.fill-form {
  margin-top: 4rem;
  margin-bottom: 4rem;
  height: 60px;
}
.fill-form .inputs {
  display: flex;
  justify-content: space-between;
}
.fill-form .inputs input {
  border: none;
  background-color: transparent;
  width: 70px;
  outline: none;
  font-size: 1rem;
  border-bottom: 2px solid #01a1c8;
  text-align: center;
  color: rgb(26, 128, 179);
  transition: all 0.4s ease;
}
.fill-form .inputs .input-wrong {
  border-bottom: 2px solid rgb(255, 87, 87);
}
.fill-form .inputs input::-moz-placeholder {
  color: rgba(26, 128, 179, 0.3);
}
.fill-form .inputs input::placeholder {
  color: rgba(26, 128, 179, 0.3);
}
.fill-form .success {
  display: flex;
  align-items: center;
}
.fill-form .success img {
  margin-right: 1rem;
}
.fill-form .success span {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -1px;
  color: rgb(26, 128, 179);
}

.form {
  margin: 3rem 0 1.5rem;
}
.form label {
  font-size: 1.3rem;
  letter-spacing: -0.2px;
  color: rgb(26, 128, 179);
  font-weight: 200;
}
.form .label-wrong {
  color: rgb(255, 87, 87);
}
.form input {
  width: 100%;
  margin-bottom: 1rem;
  outline: none;
  padding: 0.5rem;
  border: none;
  background-color: transparent;
  border-bottom: 1px solid rgb(26, 128, 179);
  font-size: 1rem;
  color: rgb(26, 128, 179);
  letter-spacing: -0.2px;
}
.form .input-wrong {
  border-bottom: 1px solid rgb(255, 87, 87);
}

.patient-from-appointment-info {
  height: 30%;
  width: 100%;
}
.patient-from-appointment-info .patient-from-appointment-box {
  display: flex;
  align-items: center;
  background-color: transparent;
}
.patient-from-appointment-info .patient-from-appointment-box .left {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  margin-right: 2rem;
  background-color: #fff;
  border: 1px solid #01a1c8;
}
.patient-from-appointment-info .patient-from-appointment-box .left img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
.patient-from-appointment-info .patient-from-appointment-box .right {
  color: rgb(26, 128, 179);
}
.patient-from-appointment-info .patient-from-appointment-box .right ul {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 1rem 0 0rem;
}
.patient-from-appointment-info .patient-from-appointment-box .right ul li {
  list-style-type: none;
  margin: 0.5rem 0;
  font-weight: 400;
  letter-spacing: -0.25px;
  margin-right: 2rem;
}
.patient-from-appointment-info .patient-from-appointment-box .right ul li span {
  font-weight: 200;
  font-size: 0.9rem;
}

.exam {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-radius: 10px;
  padding: 1rem 1rem;
  margin: 0 2rem;
  border-bottom: 1px solid rgba(1, 160, 200, 0.5411764706);
  background-color: transparent;
  transition: all 0.4s ease;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  color: #01a1c8;
}
.exam span,
.exam h5,
.exam h6 {
  letter-spacing: -0.2px;
  font-weight: 300;
  font-size: 0.9rem;
}
.exam h6 {
  font-size: 0.7rem !important;
}
.exam .examid {
  font-size: 0.8rem;
  letter-spacing: -0.5px;
}
.exam .exampatient {
  display: flex;
  align-items: center;
  margin-left: 4rem;
  width: 230px;
}
.exam .exampatient .img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #d9e7ed;
  margin-right: 1rem;
  position: relative;
}
.exam .exampatient .img .exam-profile {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}

.exam:hover {
  background-color: rgba(217, 231, 237, 0.5);
}

.exam:nth-last-child(-n+2) {
  border-bottom: none;
}

.dashboard {
  width: 25%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}
.dashboard img {
  width: 150px;
  height: 75px;
  margin-left: -1rem;
}
.dashboard ul {
  margin-top: 5rem;
}
.dashboard ul li {
  list-style-type: none;
  font-weight: 200;
  font-size: 1.5rem;
  margin: 2rem 0;
  color: rgba(1, 161, 200, 0.75);
  letter-spacing: -1px;
  transition: color 0.4s ease;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
}
.dashboard ul li span {
  margin-left: 0.5rem;
}
.dashboard ul li:hover {
  color: rgb(1, 161, 200);
}

.patientlist {
  width: 40%;
  background-color: rgba(217, 231, 237, 0.3);
  height: inherit;
  padding: 2rem;
  overflow-y: scroll;
  height: 100%;
}
.patientlist .patientlist-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.patientlist .patientlist-list {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-gap: 2rem;
  margin: 3rem 0;
  justify-content: space-between;
}

.patient-list-placeholder {
  width: 200px;
  background-color: #fff;
  border-radius: 5px;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  height: 250px;
}
.patient-list-placeholder .placeholder-container-img {
  width: 100px;
  height: 100px;
  position: relative;
  margin: 1rem auto 0rem;
  background-color: rgba(217, 231, 237, 0.3);
  border-radius: 50%;
}
.patient-list-placeholder .placeholder-info {
  text-align: center;
  background-color: rgba(217, 231, 237, 0.3);
  height: 10px;
  width: 100px;
  border-radius: 20px;
  margin: 0.5rem 0;
}

.patient {
  height: 100%;
  width: 60%;
}

.latest-app .latest {
  padding: 2rem 0 0.5rem;
  display: flex;
  overflow-y: scroll;
  height: 270px;
}
.latest-app .latest .add-margin-on-card {
  margin-right: 2rem;
}

.allexams {
  background-color: #fff;
  margin-top: 1rem;
  padding-bottom: 1rem;
}
.allexams .allexams-container {
  display: grid;
  grid-template-columns: repeat(2, 50%);
  max-height: 275px;
  overflow: scroll;
}

.allexams-small-header {
  display: grid;
  grid-template-columns: repeat(2, auto);
}
.allexams-small-header .examsinfo {
  display: grid;
  grid-template-columns: repeat(3, auto);
  border-bottom: 3px solid rgba(1, 160, 200, 0.5411764706);
  justify-content: space-between;
  padding: 1rem 1rem;
  margin: 0 2rem;
}
.allexams-small-header .examsinfo span {
  color: #01a1c8;
  font-weight: 600;
  letter-spacing: -0.2px;
  font-size: 1.1rem;
}
.allexams-small-header .examsinfo .margin-left1 {
  margin-right: 1.4rem;
}
.allexams-small-header .examsinfo .margin-left2 {
  margin-right: 0rem;
}
.allexams-small-header .examsinfo .left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.allexams-small-header .examsinfo .right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.patient-from-appointment {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.patient-from-appointment-exam {
  height: 70%;
  width: 100%;
  overflow: scroll;
  position: relative;
}
.patient-from-appointment-exam .delete {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: #1a80b3;
  cursor: pointer;
  transition: all 0.4s ease;
}
.patient-from-appointment-exam .delete:hover {
  color: #06567e;
}

.start-appointment-form {
  height: 520px;
  width: 100%;
}
.start-appointment-form .start-app-text {
  width: 100%;
  height: 420px;
  margin-bottom: 20px;
}
.start-appointment-form .start-app-text textarea {
  resize: none;
  border: none;
  padding: 1rem;
  outline: none;
  font-size: 1.1rem;
  width: 100%;
  height: 100%;
  color: #01a1c8;
  border-radius: 5px;
  line-height: 24px;
}
.start-appointment-form .start-app-text textarea::-moz-placeholder {
  color: rgba(1, 160, 200, 0.5411764706);
}
.start-appointment-form .start-app-text textarea::placeholder {
  color: rgba(1, 160, 200, 0.5411764706);
}

.lmenu {
  width: 25%;
  background-color: rgba(255, 255, 255, 0.85);
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1500;
  padding: 4rem 2rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.rmenu {
  position: absolute;
  width: 700px;
  height: 100%;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  z-index: 1500;
  padding: 4rem 2rem 2rem;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.exam-menu {
  height: 100%;
  width: 100%;
  z-index: 3000;
  position: absolute;
  top: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1.3rem 2rem 4rem;
  overflow: scroll;
  margin: 1rem 0;
}
.exam-menu .exam-h {
  margin-left: 5rem;
}/*# sourceMappingURL=global.css.map */