.dashboard {
  width: 25vw;
  height: 100vh;
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 2rem;

  img {
    width: 150px;
    height: 75px;
    margin-left: -1rem;
  }

  ul {
    margin-top: 5rem;

    li {
      list-style-type: none;
      font-weight: 200;
      font-size: 1.5rem;
      margin: 2rem 0;
      color: rgba(1, 161, 200, 0.75);
      letter-spacing: -1px;
      transition: color 0.4s ease;
      cursor: pointer;
      display: flex;
      align-items: center;
      width: fit-content;

      span {
        margin-left: 0.5rem;
      }
    }

    li:hover {
      color: rgba(1, 161, 200, 1);
    }
  }
}
